@font-face {
  font-family: 'cotillio';
  src: url(../fonts/COTILLIO.ttf);
}

.font-wedding {
  font-family: 'cotillio';
}

.mdl-button {
  color: white !important;
}

.mdl-layout__header-row {
  padding: 0 16px 0 20px;
}

.mdl-layout__header-row .mdl-layout-title {
  font-size: 32px;
}

#invitation-tab .image-container {
  text-align: center;
}

#invitation-tab .image-container .image {
  max-width: 500px;
  display: inline-block;
}

#invitation-tab .image-container .kadomaru {
  -webkit-border-radius: 10px;
          border-radius: 10px;
}

#invitation-tab .text-container {
  padding-left: 10%;
  padding-right: 10%;
}

#access-tab .place-card-image.mdl-card {
  width: 100%;
  background-image: url("../images/place.jpg");
  background-position: center;
  background-size: cover;
}

#access-tab .place-card-image.mdl-card > .mdl-card__actions {
  height: 52px;
  padding: 16px;
  background: rgba(0, 0, 0, 0.2);
}

#access-tab .place-card-image.mdl-card .place-card-image__name {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

#access-tab .mdl-data-table {
  width: 100%;
}

#access-tab .mdl-data-table th {
  width: 70px;
  text-align: center;
  padding: 0 0 0 10px;
  vertical-align: middle;
}

#access-tab .mdl-data-table td {
  white-space: normal;
  padding-top: 14px;
  padding-bottom: 10px;
  padding-right: 10px;
}

#access-tab .mdl-data-table td .button-container {
  padding-top: 10px;
}

#map {
  width: 100%;
  height: 250px;
}

#access-tab #navitime-button {
  margin: 10px 0;
  background: #035500;
}

#access-tab #google-button {
  margin: 10px 0;
  background: #3169f5;
}

#profile-tab .mdl-data-table {
  width: 100%;
}

#profile-tab .mdl-data-table th {
  padding-top: 10px;
  text-align: center;
  vertical-align: middle;
}

#profile-tab .mdl-data-table .col-2 {
  width: 200px;
}

#profile-tab .mdl-data-table td {
  white-space: normal;
  text-align: center;
  padding-top: 14px;
  padding-bottom: 10px;
  vertical-align: middle;
}

#profile-tab .mdl-data-table .image-circle {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 100px;
          border-radius: 100px;
}
